@charset "utf-8";
#swimbi{
	padding: 0px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 0px;
}
#swimbi>ul{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAmCAYAAAAFvPEHAAAAgklEQVQIWzXNOwqDUBRFUU5rIf4KRURUtFBREZ2DQ8vIMpAgJiF/J3A9N/Caxe42zrYt2JdF8JtnwXeayDgahoHV96TrSNuSpiF1TapK8ClLQ1Gw8pxkGUlTkiQkjkkUCd5haAgClu8TzxO8XFfwVB7KXbkpV2VzHMGqXJT/92RZcgBUfFIDSWunhAAAAABJRU5ErkJggg==');
	padding: 0 7px 0 7px !important;
	border-radius: 5px;
	box-shadow: 0px 1px 0px  0px rgba(85,85,85,.67);
	width: 100%;
	list-style: none;
	position: relative;
	white-space: nowrap;
	display: inline-table;
	font-size: 0px;
}
#swimbi ul, #swimbi li, #swimbi a{
	font-family: MS Sans Serif, Geneva, sans-serif !important;
	margin: 0;
	padding: 0;
}
#swimbi>ul>li{
	display: inline-block;
	vertical-align: top;
	font-size: 17px;
	position: relative;
    max-width: 16.66%;
}
#swimbi ul li:hover>ul{
	display: block !important;
}
#swimbi>ul>li:hover>a,#swimbi>ul>li.hvr>a{
	color: #474762 !important;
	border-radius: 0px;
	z-index: 9;
	text-shadow: 0px 1px 6px rgba(255,255,255,1) !important;
}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0 60.5px 0 61.5px;
	line-height: 38px;
	height: 38px;
	color: #fefefe;
	text-shadow: 0px 1px 4px rgba(18,18,18,.86);

}
#swimbi>ul>li>a:not(:only-child){
	padding-right: 81.5px;
}

#swimbi>ul>li>div.ch{
	content: '';
	position: absolute;
	z-index: 992;
	right: 60.5px;
	top: 50%;
	border: 2px solid #fefefe;
	border-top: none;
	border-left: none;
	margin: -5px 1px;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover>div.ch{
	border: 2px solid #474762;
	border-top: none;
	border-left: none;
}

#swimbi ul ul{
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	display: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #ef1f1f;
	width: auto;
	list-style: none;
	min-width: 40px;
	padding: 0px 0px 1px 0px;
	position: absolute;
	z-index: 7;
	margin-top: 0;
	box-shadow: 0px 6px 13px  -8px rgba(0,0,0,1);
	top: 38px;
}
#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
	content: '';
	display: block;
	background: rgba(99,1,1,0);
	position: absolute;
	z-index: -6;
	width: 100%;
	height: 100%;
	padding: 8px 2px 28px 28px;
	top: -8px;
	left: -28px;
}

#swimbi ul ul li:not(.column)>ul[data-keepv]:before{
	left: 0px;
	padding: 8px 0;
}

#swimbi ul li:not(.column)>ul:before{
	padding: 8px 28px 28px 28px;
}

#swimbi ul ul li:not(.column)>ul:after{
	content: '';
	position: absolute;
	z-index: -5;
	top: 8px;
	left: -48px;
	width: 40px;
	height: 40px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:before,#swimbi>ul>li:hover:after{
	content: '';
	position: absolute;
	z-index: 4;
	top: 21px;
	left: -27px;
	width: 54px;
	height: 54px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:after{
	left: 100%;
	margin-left: -27px;
}

#swimbi ul>li:not(.column)>ul{
	border: 1px solid rgba(142,10,10,0.93);
	background: -webkit-linear-gradient(top, rgba(239,31,31,0.93), rgba(179,13,13,0.93));
	background:    -moz-linear-gradient(top, rgba(239,31,31,0.93), rgba(179,13,13,0.93));
	background:     -ms-linear-gradient(top, rgba(239,31,31,0.93), rgba(179,13,13,0.93));
	background:      -o-linear-gradient(top, rgba(239,31,31,0.93), rgba(179,13,13,0.93));
	background:         linear-gradient(top, rgba(239,31,31,0.93), rgba(179,13,13,0.93));
}
#swimbi ul>li:not(.column)>ul{
	border-radius: 0 0 5px 5px;
}
#swimbi ul ul ul{
	border-radius: 5px !important;
}
#swimbi ul ul ul>li:only-child:hover>a{
	border-radius: 4px !important;
}
#swimbi ul>li:not(.column)>ul>li:last-child:hover>a{
	border-radius: 0 0 4px 4px;
}
#swimbi ul ul>li:not(.column)>ul>li:first-child:hover>a{
	border-radius: 4px 4px 0 0;
}
#swimbi ul>li.column:first-child>ul>li:last-child:hover>a{
	border-radius: 0 0 0 4px;
}
#swimbi ul>li.column:last-child>ul>li:last-child:hover>a{
	border-radius: 0 0 4px 0;
}
#swimbi ul ul ul>li.column:first-child>ul>li:first-child:hover>a{
	border-radius: 4px 0 0 0;
}
#swimbi ul ul ul>li.column:last-child>ul>li:first-child:hover>a{
	border-radius: 0 4px 0 0;
}
#swimbi ul ul li:not(:last-child):not(.column){
	border-bottom: 1px solid rgba(166,12,12,0.93);
	box-shadow: 0 1px 0 rgba(240,48,48,0.93);
}
#swimbi li.column:not(:last-child)>ul>li:not(.column){
	border-right: 1px solid rgba(174,12,12,0.93);
	box-shadow: 0 1px 0 rgba(240,48,48,0.93), 1px 0 0 rgba(240,38,38,0.93);
}
#swimbi li.column:not(:last-child)>ul>li:last-child{
	box-shadow: 1px 0 0 rgba(240,38,38,0.93) !important;
}
#swimbi li.column:not(:first-child)>ul{
	margin-left: 2px !important;
}
#swimbi ul ul.columns{
	font-size: 0px;
}

#swimbi ul ul li.column{
	display: inline-block;
	width: auto;
	vertical-align: top;
}

#swimbi ul ul li.column>ul{
	position: relative;
	display: block;
	box-shadow: none;
	background: none;
	left:0;
	padding: 0;
}

#swimbi ul ul li.column>ul:hover{
	z-index: 9;
}

#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
}
#swimbi ul ul li a{
	padding-left: 90px;
	padding-right: 105px;
	line-height: 28px;
	height: 28px;
	color: #fefefe !important;
	text-shadow: 0px 0px 4px rgba(18,18,18,.44);
}
#swimbi ul ul li>a:not(:only-child):after{
	content: '';
	position: absolute;
	right: 85px;
	top: 50%;
	margin: -2px 5px;
	width: 4px;
	height: 4px;
	border: 2px solid #fefefe;
	border-top: none;
	border-left: none;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#swimbi ul ul li:hover>a:after{
	border: 2px solid #454545;
	border-top: none;
	border-left: none;
}

#swimbi ul ul>li>a:only-child{
	padding-right: 90px;
}
#swimbi ul ul>li>a[data-icon], #swimbi ul.mixicon>li>a{
	padding-right: 132px;
}
#swimbi ul ul>li>a[data-icon]:only-child, #swimbi ul.mixicon>li>a:only-child, #swimbi ul li.column>ul.mixicon>li>a:only-child{
	padding-right: 117px;
}
#swimbi ul li.column>ul>li>a:before, #swimbi ul ul>li>a:only-child:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon]:before, #swimbi ul li.column>ul.mixicon>li>a:before{
	padding-right: 10px;
}
#swimbi ul li.column>ul>li>a[data-icon], #swimbi ul li.column>ul.mixicon>li>a{
	padding-right: 105px;
}
#swimbi ul li.column>ul>li>a[data-icon]:only-child{
	padding-right: 90px;
}
#swimbi ul ul li:hover>a{
	color: #454545 !important;
	text-shadow: 0px 0px 6px rgba(239,239,239,1);
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 7;
	left: 99%;
	top: 2px;
}
#swimbi li.column>ul{
	top: 0;
}
#swimbi a:not([href]){
	cursor: default;
}
#swimbi a.B{
	font-weight: bold !important;
}
#swimbi a.I{
	font-style: italic !important;
}
#swimbi a.U{
	text-decoration: underline !important;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'ifont';
src:url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
src:url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&amp;v=4.3.0') format('embedded-opentype'),url('https://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a[data-icon]:before, #swimbi>ul>li>a[data-icon]:after, #swimbi ul ul.mixicon>li>a:before{
	color: #fefefe;
	font-family: ifont;
	pointer-events: none;
	line-height: 38px;
	font-size: 18px;
	margin: 0 14px 0 0;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	content: attr(data-icn);
	visibility: hidden;
}

#swimbi>ul>li>a[data-icon]:after{
	visibility: visible;
	position: absolute;
	z-index: 6;
	top:0;
	left: 61.5px;
	transition: all .12s ease-out;
	-webkit-transition: all .12s ease-out;
}

#swimbi>ul>li>a[data-icon]:before, #swimbi>ul>li>a[data-icon]:after{
	width: 18px;
}

#swimbi>ul>li>a[data-icon]:before{
	height: 18px;
}

#swimbi>ul>li>a[data-icon].empty:before, #swimbi>ul>li>a[data-icon].empty:after{
	margin: 0 ;
}

#swimbi>ul>li:hover>a:after, #swimbi>ul>li.hvr>a:after{
	color: #474762;
	font-size: 23px;
	left: 59px;
}

#swimbi ul ul li a[data-icon]:before, #swimbi ul ul.mixicon>li>a:before{
	visibility: visible;
	float: left;
	color: #fefefe;
	line-height: 28px;
	font-size: 17px;
	width: 17px;
	height: 17px;
	margin: 0 10px 0 0;
}

#swimbi ul ul li:hover>a:before{
	color: #454545;
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		height: 38px;
		padding: 0 !important;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		width: auto !important;
		margin: 0 5px 0 5px;
	}

	#swimbi>ul>li>a,#swimbi>ul:hover:before,#swimbi>ul:hover:after{
		display:none;
	}

	#swimbi>ul:hover>li>a,#swimbi .hvr>li>a{
		display: block !important;
	}

	#swimbi>ul>li:hover{
		z-index: 9 !important;
	}

	#swimbi>ul>li.hvr{
		z-index: 8 !important;
	}

	#swimbi>ul:after {
		line-height: 36px;
		content: 'Menu';
		font-family: MS Sans Serif, Geneva, sans-serif !important;
		font-size: 17px;
		color: #fefefe;
		float:right;
		padding-right: 15px;
	}

	#swimbi>ul:hover:after, #swimbi>ul.hvr:after {
		display: none;
	}

	#swimbi>ul:before {
		float: right;
		line-height: 38px;
		content: '';
		margin: 12px 22px 12.875px 0;
		width: 17px;
		height:2.625px;
		border-top: 7.875px double #fefefe;
		border-bottom: 2.625px solid #fefefe;
		box-sizing: content-box;
	}

	#swimbi>ul:hover:before, #swimbi>ul.hvr:before {
		opacity: 0;
	}

	#swimbi ul ul ul{
		margin-top: 28px;
	}

	#swimbi a[data-show]{
		display: block;
	}

	#swimbi ul ul {
		left: 33px !important;
	}

	#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
		padding: 8px 2px 2px 2px;
		left: -2px;
	}

	#swimbi ul ul li.column{
		display: block;
	}

	#swimbi ul ul li.column>ul{
		left: 0 !important;
		margin-top: 0;
	}

	#swimbi>ul>li>div.ch, #swimbi>ul>li:hover:before, #swimbi>ul>li:hover:after{
		display: none;
	}
	#swimbi>ul:hover>li>div.ch,#swimbi .hvr>li>div.ch{
		display: block;
	}

}
