@{
    ViewBag.Title = "CJ WEB PORTAL ";
}
<div class="row">

    <!-- Earnings (Monthly) Card Example -->

    <div class="col mr-2">
        <div class="font-weight-bold text-primary text-uppercase mb-1 h2">
            Under construction
        </div>
        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Title</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="text-center">
        <img class="img-fluid" style="width: 25rem;" src="~/Content/img/Under construction-amico.svg" alt="TEL DEV">
    </div>
</div>
